* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

a {
  color: inherit;
}

summary {
  list-style: none;
}

.box-content {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

#burger {
  position: absolute;
  left: -99999px;
  visibility: hidden;
}
#burger:checked ~ .header__right__nav {
  right: 0;
}

.header {
  background-color: #222224;
  padding-top: 18px;
  padding-bottom: 20px;
  position: relative;
}
.header__left {
  display: flex;
  justify-content: space-between;
  gap: 41px;
  align-items: center;
}
.header__right {
  display: flex;
  justify-content: space-between;
  gap: 33px;
  align-items: center;
}
.header__right__nav {
  background: #FFF;
  box-shadow: 6px 4px 35px;
  width: 232px;
  padding: 32px;
  box-sizing: border-box;
  position: absolute;
  top: 79px;
  right: -1000px;
  z-index: 100;
  transition: right 0.3s;
}
.header__right__menu {
  list-style-type: none;
  color: #000;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 24px;
}
.header__right__li {
  list-style-type: none;
  color: #F16D7F;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 12px;
}
.header__right__limenu {
  list-style-type: none;
  color: #6F6E6E;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 21px;
  margin-top: 11px;
}
.header__flex {
  display: flex;
  justify-content: space-between;
}
.header__icon {
  width: 44px;
  height: 38px;
  flex-shrink: 0;
}

.icon:hover path {
  fill: blue;
}

.promo {
  background-color: #F1E4E6;
}
.promo__flex {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}
.promo__img {
  height: 764px;
}
.promo__text {
  margin-left: 63px;
  padding-left: 12px;
  border-left: 12px solid #F16D7F;
}
.promo__text1 {
  color: #222;
  font-family: Lato;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.promo__text2 {
  color: #222;
  font-family: Lato;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.promo__fashion {
  color: #F16D7F;
}

.sale {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 64px;
  padding-bottom: 96px;
}
.sale__item {
  position: relative;
}
.sale__content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sale__item_big {
  min-height: 180px;
  grid-column: 1/-1;
}
.sale__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}
.sale__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
}

.fetured {
  text-align: center;
  margin-bottom: 47px;
}
.fetured__heading {
  color: #222;
  font-family: Lato;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 6px;
}
.fetured__text {
  color: #9F9F9F;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.products__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 30px;
  justify-items: center;
}
.products__item {
  width: 360px;
  background-color: #F8F8F8;
}
.products__item:hover .products__item__img {
  filter: brightness(0.5);
}
.products__item:hover .products__item__button {
  opacity: 1;
}
.products__item__content {
  padding: 24px 28px 20px 16px;
}
.products__item__heading {
  color: #000;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.products__item__heading:hover {
  color: blue;
}
.products__item__text {
  color: #5D5D5D;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: 12px;
  margin-bottom: 18px;
}
.products__item__price {
  color: #F16D7F;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.products__item__imgbox {
  position: relative;
}
.products__item__button {
  opacity: 0;
  background: rgba(0, 0, 0, 0);
  position: absolute;
  padding: 11px 16px 8px 13px;
  display: flex;
  gap: 9px;
  border: 1px solid #FFF;
  top: 188px;
  left: 111px;
}
.products__item__buttonText {
  color: #FFF;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 4px;
}

.linkAll {
  margin-top: 48px;
  margin-bottom: 95px;
  text-align: center;
}
.linkAll__div {
  width: 212px;
  padding-top: 15px;
  padding-bottom: 14px;
  border: 1px solid #F16D7F;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #FFF;
  color: #F16D7F;
}
.linkAll__div:hover {
  background-color: #F16D7F;
  color: #FFF;
  transition: 2s;
}
.linkAll__link {
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.advantages {
  background-color: #222224;
  padding-top: 103px;
  padding-bottom: 103px;
}
.advantages__flex {
  display: flex;
  justify-content: space-between;
  gap: 30;
  align-items: center;
}
.advantages__item {
  text-align: center;
}
.advantages__item__h {
  color: #FBFBFB;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 25px;
  padding-bottom: 16px;
}
.advantages__item__text {
  color: #FBFBFB;
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.review {
  background-image: linear-gradient(180deg, rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7)), url(img/Layer41.svg);
  padding-top: 97px;
  padding-bottom: 126px;
  background-size: cover;
}
.review__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.review__figure {
  text-align: center;
}
.review__figure__text {
  width: 360px;
  height: 99px;
  color: #222224;
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 30px;
}
.review__figure__curs {
  color: #222224;
  font-family: Lato;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}
.review__subscribe {
  padding-top: 53px;
}
.review__subscribe__text {
  width: 557px;
  text-align: center;
  margin-bottom: 27px;
}
.review__subscribe__h {
  color: #222224;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.review__subscribe__h2 {
  color: #222224;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.review__subscribe__form {
  width: 557px;
  text-align: center;
}
.review__subscribe__email {
  color: #222224;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.671;
  background-color: #E1E1E1;
  padding-top: 7px;
  padding-bottom: 5px;
  padding-left: 22px;
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
  border: 1px solid #E1E1E1;
  height: 49px;
  width: 260px;
}
.review__subscribe__button {
  color: #FFF;
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #F16D7F;
  padding: 7px 7px 5px 8px;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  border: 1px solid #F16D7F;
  height: 49px;
}
.review__subscribe__button:hover {
  color: blue;
}

.footer {
  background-color: #222224;
}
.footer__flex {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer__copyright {
  color: #FBFBFB;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__links {
  display: flex;
  justify-content: space-between;
  gap: 7px;
  align-items: center;
}
.footer__link1 {
  width: 32px;
  height: 32px;
  background-color: #FFF;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}
.footer__icon:hover path {
  fill: #F16D7F;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 366px);
    padding-right: calc(50% - 366px);
  }
  .promo__img {
    height: 368px;
  }
  .promo__text1 {
    font-size: 44px;
  }
  .promo__text2 {
    font-size: 24px;
  }
  .promo__flex {
    text-align: center;
  }
  .sale {
    gap: 20px;
    padding-bottom: 110px;
  }
  .sale__img {
    height: 167px;
  }
  .sale__imgBig {
    height: 116px;
  }
  .sale__item_big {
    min-height: 116px;
  }
  .fetured {
    margin-bottom: 74px;
  }
  .products__grid {
    gap: 16px;
  }
  .linkAll {
    margin-top: 32px;
    margin-bottom: 64px;
  }
  .advantages {
    padding-top: 48px;
    padding-bottom: 64px;
  }
  .advantages__flex {
    gap: 48px;
    flex-direction: column;
  }
  .review {
    padding-top: 64px;
    padding-bottom: 140px;
  }
  .review__flex {
    flex-direction: column;
    align-items: center;
  }
  .review__subscribe__h {
    line-height: 162%;
  }
  .review__subscribe__h2 {
    line-height: 162%;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: calc(50% - 171px);
    padding-right: calc(50% - 171px);
  }
  .promo {
    height: 363px;
    padding-top: 148px;
  }
  .promo__img {
    height: 0px;
  }
  .promo__text1 {
    font-size: 38px;
  }
  .promo__text2 {
    font-size: 20px;
  }
  .promo__flex {
    display: inline;
  }
  .sale {
    gap: 32px;
    padding-bottom: 64px;
    grid-template-columns: repeat(1, 1fr);
  }
  .sale__img {
    height: 247px;
  }
  .sale__imgBig {
    height: 111px;
    width: 343px;
  }
  .sale__item_big {
    min-height: 111px;
  }
  .fetured {
    margin-bottom: 65px;
  }
  .linkAll {
    margin-top: 40px;
    margin-bottom: 96px;
  }
  .advantages {
    padding-bottom: 81px;
  }
  .advantages__flex {
    gap: 47px;
  }
  .review {
    padding-bottom: 110px;
  }
  .review__flex {
    gap: 59px;
  }
  .review__subscribe__text {
    width: auto;
  }
  .review__subscribe__h {
    line-height: 153%;
  }
  .review__subscribe__h2 {
    font-size: 14px;
    line-height: 153%;
  }
  .review__subscribe__form {
    width: 341px;
  }
}/*# sourceMappingURL=style.css.map */